.root {
}

.title {
	display: flex;
	align-content: center;
	align-items: baseline;
}

.header {
	z-index: 100;
	position: absolute;
	left: 1%;
	top: 2%;
}

.disclaimer {
	z-index: 1000;
	position: absolute;
	bottom: 4%;
	right: 1%;
	display: flex;
	align-items: flex-end;
	vertical-align: bottom;
}

.disclaimerRight {
	right: 390px;
	bottom: 2%;
}

.disclaimer p {
	float: left;
	max-width: 400px;
	font-size: 0.7rem;
	margin-bottom: 0px;
}

.logouc {
	float: right;
	width: 80px;
}

.circle {
	opacity: 0.6;
	position: absolute;
	border-radius: 50%;
	z-index: 200;
	transition: opacity 0.3s ease-in;
}

.circle:hover {
	opacity: 1;
}

.detailContainer {
	position: absolute;
	right: 0;
	top: 0;
	height: 100vh;
	display: flex;
	z-index: 500;
	flex-direction: column;
	width: 375px;
	background: var(--color-background-light);
	opacity: 0;
	transition: opacity 0.2s ease-in;
}

.detailContainer.visible {
	opacity: 1;
}

.modelDescription {
	min-height: 52vh;
	padding: var(--margin-half) var(--margin);
	background: var(--color-background-light);
}

.detailContainer h3 {
	line-height: 1.6;
	margin: 0;
}

.root .video {
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.root .mapboxgl-ctrl-attrib a {
	margin: auto;
	padding: 1px 2px;
	color: white;
	background-color: transparent;
}

.modelDescription a {
	display: inline-block;
	margin: 10px auto;
	padding: 16px 20px;
	color: black;
	width: 100%;
	text-align: center;
	font-size: var(--font-size-small);
	background-color: var(--color-green);
}

.modelDescription a:hover {
	transform: translate(2px, 2px);
	color: black;
}

.modelDescription h2 {
	margin-bottom: var(--margin-quarter);
}

.modelDescription h3 {
	line-height: 120%;
	margin-bottom: var(--margin-half);
}

.date {
	display: block;
	font-size: var(--font-size-tiny);
	color: rgb(150, 150, 150);
	margin-top: 2px;
	margin-bottom: 10px;
}

.descriptionExtras {
	color: rgb(150, 150, 150);
	font-size: var(--font-size-tiny);
}

.vidWrapper {
	width: 100%;
	display: block;
	position: relative;
	min-height: 48%;
}

.logo {
	width: 48px;
	margin-right: 14px;
}

.navbar {
	display: inline-block;
	font-size: var(--font-size-normal);
}

.navbar h2 {
	margin: 5px;
	font-size: var(--font-size-large);
}

.bajada {
	font-size: var(--font-size-tiny);
	margin-top: 0px;
	max-width: 350px;
	margin-left: 10px;
}

.data label {
	display: block;
	font-size: var(--font-size-tiny);
	text-transform: uppercase;
	color: var(--color-gray);
}

.data span {
	display: block;
	margin-bottom: var(--margin-half);
	font-size: var(--font-size-small);
}
